#inner{
  display: table;
  margin: 0 auto;
  margin-top: 50px;
}

#outer{
  width:100%;
}

#email, #confirmation_email, #senha, #csenha {
  background-color: white;
  border-bottom: 2px solid #768591;
  text-align: left;
}

.label{
  text-align: left;
  margin-top: 25px;
  font-size: small;
  color: lightslategrey;
}

p{
  font-size: small;
  color: black;
}

a{
  color: #6E8BD3;
  text-decoration: none;
}

.b{
  font-weight:900;
}

ion-icon{
  flex: right;
}

.ion-button-login{
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: none;
}

.ion-button-cadastro{
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: none;
}

.ion-button-recuperar{
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: none;
}




.botao-social{
  
  --background: #a2a4ab;
  background-image: none;
  font-size: small;
  color: black;
  width: 100%;
}

ion-button.botao-social{
  --background: --ion-color-medium-tint;
  background-image: none;
  font-size: small;
}

.errorLogin{
  background-color: #F58B44;
  padding: 8px;
  margin-top: 10px;
  
}

.errorLogin a{
  color: black;
}

hr{
  color: green;
  line-height: 50px;
}

.custom-modal {
  --background: --ion-color-medium-tint;
  background-image: none;
  font-size: small;
}

.custom-modal p, h1, h2{
  margin-left: 10px;
}

.custom-modal .ion-button-termos{
  margin-top: 10px;
  margin-bottom: 40px;
  
  text-transform: none;
  float: right;
}

.logo-login{
  width: 100px;
  height: 50px;
}

.texto-login{
font-family:  Nunito !important;

font-style: normal;
font-weight: 900;
font-size: 36px;

color: #F58B44;

}

.texto-boasVindas{
  width: 100%;
}

.texto-app{
  font-family: OpenSans;
}