:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  .recommendation {
    padding: 10px;
  }

  #inner{
  display: table;
  margin: 0 auto;
  margin-top: 50px;
}

#outer{
  width:100%;
}

  .row{
    border-bottom: thin solid #92949c;
    margin: 10px;
  }

  #header-items{
    float: right;
  }

#recommendations{
 
  margin: auto;
  
}  

#button-recommendation{
  height: 65px;
  width: 269px;
  margin: auto;
  
}