:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  .recommendation {
    padding: 10px;
  }

  #inner{
  display: table;
  margin: 0 auto;
  margin-top: 50px;

}

#outer{
  width:100%;
}

  .row{
    border-bottom: thin solid #92949c;
    margin: 10px;
  }

  #header-items {
    display: absolute;
    width: 100%;
    height: 100%;
  }

#recommendations{
 
  margin: auto;
  margin-bottom: 8px;
  
}  

#button-recommendation{
  height: 51px;
  width: 343px;
  margin: auto;
 
  
}

#button-recommendation:hover{
  --background-hover: var(--ion-color-white-shade);
}

.texto-padrao{
  font-family: OpenSans;  
  color: #444950;
  text-align: left;
}

.texto-button{
  font-family: Nunito;  
  color: #8A8888;
  font-weight: 700;
  size: 18px;
}

h1 {
  color: #444950;
  font-family: Nunito; 
  
}

h2 {
  color: #444950;
  font-family: Nunito; 
 
}

h4 {
  color: #444950;
  font-family: Nunito; 
  margin-top: 32px;
}

.texto-titulo{
  font-family: Nunito !important;
  font-weight: 900;
  size: 24px;
  margin-bottom: 24px;
 
  
}

.texto-sobre-titulo{
  font-family: Nunito !important;
  font-weight: 900;
  size: 20px;
  
  
}

.subtitle{
  margin-top: 32px;
  margin-bottom: 24px;
}

.img-slides{
  margin-bottom: 32px;

}

.main-text{
  font-family: OpenSans !important;
  font-weight: 600;
  size: 12px;
  color: #444950;
  text-align: left;
}

.readMore-text{
  font-family: OpenSans !important;
  font-weight: 400;
  size: 10px;
  color: #444950;
  text-align: left;
}

.readMore-button{
  font-family: OpenSans !important;
  color: #444950;
  padding: 0 40px;
}

.link-text{
  font-family: OpenSans !important;
  color: #F58B44;
}

.header-title{

  font-family: Nunito !important;
  font-weight: 900;
  font-size: 24px;
  color: #444950;
  margin-top: 18px;
    
}


.button-header{
  position: absolute;
  right: 0;
  margin-top: 14px;
}

.img-slides{
  margin-bottom: 320px;
  width: 112px;
  height: 180px;
}

.align-button{
  text-align: left;
  color: red;
}