:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  .recommendation {
    padding: 10px;
  }

  .row{
    border: thin solid #92949c;
    margin: 10px;
  }

  #header-items{
    float: right;
  }

#recommendations{
 
  margin: auto;
  
}  

#button-recommendation{
  height: 65px;
  width: 269px;
  margin: auto;
  
}