.btnProximo {
    align-items: right;
    float: right;
}

.btnAnterior {
  align-items: left;
  float: left;
}

ion-col {
  border: 1px solid grey;
  text-align: center;
  

}

ion-select{
  max-width: 100% !important;
  
  }

 

.alert-tappable.alert-radio {
      height: auto;
      contain: content;
  }
  
  .alert-radio-label.sc-ion-alert-md,
  .alert-radio-label.sc-ion-alert-ios {
      white-space: normal;
  }

ion-label {
    white-space: normal !important;
    max-width: none !important;
    width: 100%;
 }
 
 #header-items{
  float: right;
}


.ion-text-center{ 

  text-align: center;
  margin-top: 50px;

}

.options {
  float: right;
  background-color: green;
}

.questions{
  font-weight: bold;
}

.button-text{
  font-size: 12px;
  position: relative;
  display: inline-block;
}
#inner{
  display: table;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  
}

#inner-modules{
  display: table;
  
  margin: 0 auto;

}


#outer{
  
  width:100%
}
#toggle {
  background-color: lightgrey;
 
}

#button-forms{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  --background: white;
}

#button-forms-saude{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}


#button-forms-habitos{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#button-forms-social{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#button-forms-sono{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#button-forms-sintomas{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#button-forms-cronotipo{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#button-forms-testes{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#ion-toolbar-formulario {
    --background: transparent;
    background-image: linear-gradient(90deg,#1E295C 0%, #5158A8 0%, #6668AE 0%, #C1A5D3 100%);
    }

.ion-radio-left{
  float: left;
}

.progress-bar-item{
  margin-top: 10px;
}

.buttons-modulos{
  background-color: white;
}

.checkbox-options{
  margin-right: 10px;
}

