.btnProximo {
    align-items: right;
    float: right;
    text-transform: capitalize;
    margin-bottom: 16px;
 
}

.btnProximo_perguntaCadastro {
  align-items: right;
  float: right;
  text-transform: capitalize;
  margin-right: 30px;
}
.ios .btnProximo_perguntaCadastro {
  margin-bottom: 55px;
  align-items: right;
  float: right;
  text-transform: capitalize;
  margin-right: 30px;
}



.btnAnterior {
 
  text-transform: capitalize;
  margin-bottom: 16px;
}
.ios .btnAnterior {
  margin-bottom: 55px;
  text-transform: capitalize;
  margin-bottom: 16px;
} 

ion-col {
  border: 1px solid grey;
  text-align: center;
  

}

ion-select{
  max-width: 100% !important;
  
  }

 

.alert-tappable.alert-radio {
      height: auto;
      contain: content;
  }
  
  .alert-radio-label.sc-ion-alert-md,
  .alert-radio-label.sc-ion-alert-ios {
      white-space: normal;
  }

ion-label {
    white-space: normal !important;
    max-width: none !important;
    width: 100%;
 }
 
 #header-items{
  float: right;
}


.ion-text-center{ 

  text-align: center;
  margin-top: 50px;

}

.options {
  float: right;
  background-color: green;
}

.questions{
  font-weight: bold;
  display: block;
  margin-top: 16px;
  
}


.button-text{
  font-size: 12px;
  position: relative;
  display: inline-block;
}
#inner{
  display: table;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  
}

#inner-modules{
  display: table;
  
  margin: 0 auto;

}


#outer{
  
  width:100%
}
#toggle {
  background-color: lightgrey;
 
}

#button-forms{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  --background: white;
}

#button-forms-saude{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}


#button-forms-habitos{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#button-forms-social{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#button-forms-sono{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#button-forms-sintomas{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#button-forms-cronotipo{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#button-forms-testes{
  height: 65px;
  width: 269px;
  margin-bottom: 10px;
  
}

#ion-toolbar-formulario {
    --background: transparent;
    background-image: linear-gradient(90deg,#1E295C 0%, #5158A8 0%, #6668AE 0%, #C1A5D3 100%);
    }

.ion-radio-left{
  float: left;
}

.progress-bar-item{
  margin-top: 10px;
}

.progress-bar-first-page{
  margin-top: 10px;
}

.buttons-modulos{
  background-color: white;
}

.checkbox-options{
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
}


.texto-default{
  font-family: OpenSans;  
 
  margin-bottom: 16px;
  color: #444950; 
}

.texto-title{
  font-family: Nunito;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 16px;
  color: #444950;
}

ion-item{
  border-bottom-style: hidden;
}

ion-radio{
  margin: 10px;

}

ion-select::part(icon) {
color: #F58B44;

}


.margin-items{
  margin-bottom: 16px;
}

#progress-bar-div{
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 24px;
  margin-bottom: 32px;
}

.progress-bar{
  display: block;
  margin: auto;
  width: 50%;
}

ion-select::part(icon) {
  color: #F58B44;
  
}

.my-custom-interface .select-interface-option {
  font-family: OpenSans !important;
}

.img-slides{
  margin-bottom: 32px;

}


.main-text{
  font-family: OpenSans !important;
  font-weight: 600;
  size: 12px;
  color: #444950;
  text-align: left;
  
}

.img_cadastro{
  margin-bottom: 32px;
  width: 150px;
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title_pergunta_cadastro{
  font-family: Nunito !important;
  font-weight: 900;
  font-size: 24px;
  color: #444950;
  margin-bottom: 20px;
}

.subtitle_pergunta_cadastro{
  font-family: Nunito !important;
  font-weight: 400;
  font-size: 18px;
  color: #444950;
  margin-bottom: 12px;
}

.bottom{
  bottom: 0;
  position: absolute;
  width: 100%;
}

.vertical-align{
  vertical-align: center;
}

/* Popover Interface: set color for the popover using Item's CSS variables */
.my-custom-interface .select-interface-option {
  --color: #444950;
  --color-hover: #F58B44;
  --background-color: #ffffff;
  --background-color-rgb: 18,18,18;
}

/* Action Sheet Interface: set color for the action sheet using its button CSS variables */
.my-custom-interface .select-interface-option {
  --button-color: #F58B44;
  --button-color-hover: #F58B44;
  --background-color: #ffffff;
  --background-color-rgb: 18,18,18;
}

.btn-ModalCadastro{
  margin-top: 10px;
  margin-bottom: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FDF5EB;
  margin: 0;
 
}

.tickmarks{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #FDF5EB;
}

.tickmarks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 0.5px;
  padding: 15px;
  height: 10px;
  line-height: 5px;
  margin: 0 0 50px 0;
  font-family: OpenSans;
  font-size: 12px;
  background-color: #FDF5EB;
}

.tickmarksSDS{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #FDF5EB;
}

.tickmarksSDS p {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 3px;
  padding-left: 35px;
  padding-right: 35px;
  height: 40px;
  line-height: 15px;
  margin: 0 0 50px 0;
  font-family: OpenSans;
  font-size: 12px;
  background-color: #FDF5EB;
}

#slidercontainer{
 

  width: 100px;
  background-color: #FDF5EB;
}

ion-item{
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

ion-range{
  --knob-size: 20px;
  --bar-height: 3px;
  background-color: #FDF5EB;
}

ion-select::part(text) {
  white-space: normal !important;
  word-wrap: break-word !important;

}

.preenchimentoObri {
  margin-top: 20px;
  margin-bottom: 20px;
}

ion-select{
  --placeholder-color: #444950 !important;
  --placeholder-opacity: 0.5 !important;
}

ion-input{
  --placeholder-color: #444950 !important;
  --placeholder-opacity: 0.5 !important;
}

.questions-inside{
  color: #444950; 
  opacity: 0.5;
  
  display: block;
  margin-top: 16px;
  
}

ion-note {
  font-size: 14px;
}