.btnProximo {
    align-items: right;
    float: right;
}

.btnAnterior {
  align-items: left;
  float: left;
}

ion-col {
  border: 1px solid grey;
  text-align: center;
  

}

ion-select{
  max-width: 100% !important;
  
  }

 

.alert-tappable.alert-radio {
      height: auto;
      contain: content;
  }
  
  .alert-radio-label.sc-ion-alert-md,
  .alert-radio-label.sc-ion-alert-ios {
      white-space: normal;
  }

ion-label {
    white-space: normal !important;
    max-width: none !important;
    width: 100%;
 }
 
 #header-items{
  float: right;
}